<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Enquiry</h1>
    <p>
      Product: <%= @product_name_final %>
    </p>
    <p>
      Product Quantity: <%= @product_quantity_final %>
    </p>
    <p>
      Price: <%= @product_price_final %>
    </p>
    <p>
      Optional Product: <%= @optional_product_name_final %>
    </p>
    <p>
      Optional Product Price: <%= @optional_product_price_final %>
    </p>
    <p>
      Email: <%= @enquiry_email %>
    </p>
    <p>
      Comment: <br><br>
      <%= @enquiry_comment %>
    </p>
  </body>
</html>
