<div class='container'>
    <%= form_for(@group, url: admin_path, html: {style: 'margin-top:20px;'}) do |f| %>
        <% if @group.id.present? %>
            <%= f.hidden_field :id, value: @group.id %>
        <% end %>
        <div class="form-group">
            <%= f.label :name %><br />
            <%= f.text_field :name, value: @group.name, class: "form-control" %>
        </div>
        <div class="form-group">
            <%= f.label :poloniex_key %><br />
            <%= f.text_field :poloniex_key, value: @group.poloniex_key, class: "form-control" %>
        </div>
        <div class="form-group">
            <%= f.label :poloniex_secret %><br />
            <%= f.text_field :poloniex_secret, value: @group.poloniex_secret, class: "form-control" %>
        </div>
        <div class="form-group">
            <%= f.label :nicehash_wallet %><br />
            <%= f.text_field :nicehash_wallet, value: @group.nicehash_wallet, class: "form-control" %>
        </div>
        <div class="form-group">
            <%= f.label :nicehash_api_id %><br />
            <%= f.text_field :api_id, value: @group.api_id, class: "form-control" %>
        </div>
        <div class="form-group">
            <%= f.label :nicehash_api_key %><br />
            <%= f.text_field :api_key, value: @group.api_key, class: "form-control" %>
        </div>
        <div class="form-group">
            <%= f.label :litecoinpool_api_key %><br />
            <%= f.text_field :litecoinpool_api_key, value: @group.litecoinpool_api_key ,class: "form-control" %>
        </div>
        <div class="form-group">
            <%= f.label :slushpool_api_key %><br />
            <%= f.text_field :slushpool_api_key, value: @group.slushpool_api_key ,class: "form-control" %>
        </div>
        <%= f.submit('Submit', class:'btn btn-dark') %>
    <% end %>
</div>