<div class='container'>
  <p style='margin-top:20px; font-weight:bold'>NEW PRODUCT</p>
  <%= form_with(model: @product, url: admin_path, local: true) do |f| %>
    <div class="row">
      <div class="col-md-3 form-group">
        <%= f.label :name %><br />
        <%= f.text_field :name, class: "form-control" %>
      </div>
      <div class="col-md-3 form-group">
        <%= f.label :name_geo %><br />
        <%= f.text_field :name_geo, class: "form-control" %>
      </div>
      <div class="col-md-2 form-group">
        <%= f.label :price %><br />
        <%= f.text_field :price, class: "form-control" %>
      </div>
      <div class="col-md-2 form-group">
        <%= f.label :weight %><br />
        <%= f.text_field :weight, class: "form-control" %>
      </div>
      <div class="col-md-2 form-group">
        <%= f.label :category %><br />
        <%= f.select :category, options_for_select([["ASIC Miners", 1], ["GPU Miners", 2], ["Other Parts", 3], ["Software", 4]]), class: "form-control" %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 form-group">
        <%= f.label :short_description %><br />
        <%= f.text_area :short_description, class: "form-control", id: "ck_short_description" %>
      </div>
      <div class="col-md-6 form-group">
        <%= f.label :short_description_geo %><br />
        <%= f.text_area :short_description_geo, class: "form-control", id: "ck_short_description_geo" %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 form-group">
        <%= f.label :field_1 %><br />
        <%= f.text_area :description, class: "form-control", id: "ck_description" %>
      </div>
      <div class="col-md-6 form-group">
        <%= f.label :field_1_geo %><br />
        <%= f.text_area :description_geo, class: "form-control", id: "ck_description_geo" %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 form-group">
        <%= f.label :field_2 %><br />
        <%= f.text_area :specifications, class: "form-control", id: "ck_specifications" %>
      </div>
      <div class="col-md-6 form-group">
        <%= f.label :field_2_geo %><br />
        <%= f.text_area :specifications_geo, class: "form-control", id: "ck_specifications_geo" %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 form-group">
        <%= f.label :field_3 %><br />
        <%= f.text_area :field_3, class: "form-control", id: "ck_field_3" %>
      </div>
      <div class="col-md-6 form-group">
        <%= f.label :field_3_geo %><br />
        <%= f.text_area :field_3_geo, class: "form-control", id: "ck_field_3_geo" %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 form-group">
        <%= f.label :field_4 %><br />
        <%= f.text_area :field_4, class: "form-control", id: "ck_field_4" %>
      </div>
      <div class="col-md-6 form-group">
        <%= f.label :field_4_geo %><br />
        <%= f.text_area :field_4_geo, class: "form-control", id: "ck_field_4_geo" %>
      </div>
    </div>
    <% if @products_all.present? %>
      <div class="col-md-12 form-group">
        <%= f.label :optional_parts %><br />
        <% product_names = [] %>
        <% product_ids = [] %>
        <% @products_all.each do |t| %>
          <% product_names.push(t.name) %>
          <% product_ids.push(t.id) %>
        <% end %>
        <%= f.select :related_product_id, options_from_collection_for_select(@products_all, 'id', 'name'), :include_blank => true, class: "form-control" %>
      </div>
    <% end %>
    <div class='col-md-4 form-group'>
        <%= f.label :image %><br />
      <%= f.file_field :image, class: 'form-control' %>
    </div>
    <%= f.submit('Submit', class:'btn btn-dark') %>
  <% end %>

    <table class='table' style="margin-top:20px">
      <thead>
        <th>ID</th>
        <th>Name</th>
        <th>Short Description</th>
        <th>Price</th>
        <th>Category</th>
        <th>Optional Parts</th>
        <th>Edit</th>
        <th>Delete</th>
      </thead>
      <tbody>
        <% if @products_all.present? %>
          <% @products_all.each do |t| %>
            <tr>
              <td><%= t.id %></td>
              <td><% if I18n.locale == :en %><%= t.name %><% else %><%= t.name_geo %><% end %></td>
              <td><% if I18n.locale == :en %><%= t.short_description.html_safe %><% else %><%= t.short_description_geo.html_safe %><% end %></td>
              <td><%= t.price.to_i %></td>
              <td><% if t.category == 1 %>ASIC Miners <% elsif t.category == 2 %>GPU Miners<% else %>Other Parts<% end %></td>
              <td>
                <% if t.related_product_id.present? %>
                  <% if Product.find_by(id: t.related_product_id).present? %>
                    <%= Product.find_by(id: t.related_product_id).name %>
                  <% end %>
                <% end %>
              </td>
              <th><%= link_to 'Edit', admin_path(edit_product: t.id) %></th>
              <td><%= link_to 'Delete', admin_path(delete_product: t.id), :"data-turbolinks" => false %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
</div>

<script>
  $(document).ready(function(){
    ClassicEditor.create( document.querySelector('#ck_description' )).catch( error => {
      console.error( error );
    });
    ClassicEditor.create( document.querySelector('#ck_description_geo' )).catch( error => {
      console.error( error );
    });
    ClassicEditor.create( document.querySelector('#ck_specifications' )).catch( error => {
      console.error( error );
    });
    ClassicEditor.create( document.querySelector('#ck_specifications_geo' )).catch( error => {
      console.error( error );
    });
    ClassicEditor.create( document.querySelector('#ck_field_3' )).catch( error => {
      console.error( error );
    });
    ClassicEditor.create( document.querySelector('#ck_field_3_geo' )).catch( error => {
      console.error( error );
    });
    ClassicEditor.create( document.querySelector('#ck_field_4' )).catch( error => {
      console.error( error );
    });
    ClassicEditor.create( document.querySelector('#ck_field_4_geo' )).catch( error => {
      console.error( error );
    });
    ClassicEditor.create( document.querySelector('#ck_short_description' )).catch( error => {
      console.error( error );
    });
    ClassicEditor.create( document.querySelector('#ck_short_description_geo' )).catch( error => {
      console.error( error );
    });
  });
</script>
