<div class="container">
  <p style='margin-top:20px; font-weight:bold'>NEW SERVICE</p>
  <%= form_with(model: @service, url: admin_path, local: true) do |f| %>
    <div class="row">
      <div class="col-md-2 form-group">
        <%= f.label :number %><br />
        <%= f.number_field :number, class: "form-control" %>
      </div>
      <div class="col-md-5 form-group">
        <%= f.label :menu_name %><br />
        <%= f.text_field :dropdown_header, class: "form-control" %>
      </div>
      <div class="col-md-5 form-group">
        <%= f.label :menu_name_geo %><br />
        <%= f.text_field :dropdown_header_geo, class: "form-control" %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 form-group">
        <%= f.label :header %><br />
        <%= f.text_field :header, class: "form-control" %>
      </div>
      <div class="col-md-6 form-group">
        <%= f.label :header_geo %><br />
        <%= f.text_field :header_geo, class: "form-control" %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 form-group">
        <%= f.label :field_1 %><br />
        <%= f.text_area :description, class: "form-control", id: "ck_service_description" %>
      </div>
      <div class="col-md-6 form-group">
        <%= f.label :field_1_geo %><br />
        <%= f.text_area :description_geo, class: "form-control", id: "ck_service_description_geo" %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 form-group">
        <%= f.label :field_2 %><br />
        <%= f.text_area :field_1, class: "form-control", id: "ck_service_field_1" %>
      </div>
      <div class="col-md-6 form-group">
        <%= f.label :field_2_geo %><br />
        <%= f.text_area :field_1_geo, class: "form-control", id: "ck_service_field_1_geo" %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 form-group">
        <%= f.label :field_3 %><br />
        <%= f.text_area :field_2, class: "form-control", id: "ck_service_field_2" %>
      </div>
      <div class="col-md-6 form-group">
        <%= f.label :field_3_geo %><br />
        <%= f.text_area :field_2_geo, class: "form-control", id: "ck_service_field_2_geo" %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 form-group">
        <%= f.label :background_color %><br />
        <%= f.text_field :background_color, class: "form-control" %>
      </div>
      <div class="col-md-4 form-group">
        <%= f.label :text_color %><br />
        <%= f.text_field :text_color, class: "form-control" %>
      </div>
      <div class='col-md-4 form-group'>
        <%= f.label :image %><br />
        <%= f.file_field :image, class: 'form-control' %>
      </div>
    </div>
    <%= f.submit('Submit', class:'btn btn-dark') %>
  <% end %>

  <table class='table' style="margin-top:20px">
    <thead>
      <th>#</th>
      <th>Header</th>
      <th>Menu Name</th>
      <th>Background Color</th>
      <th>Text Color</th>
      <th>Edit</th>
      <th>Delete</th>
    </thead>
    <tbody>
      <% if @services_all.present? %>
        <% @services_all.order(:number).each do |t| %>
          <tr>
            <td><%= t.number %></td>
            <td><% if I18n.locale == :en %><%= t.header %><% else %><%= t.header_geo %><% end %></td>
            <td><% if I18n.locale == :en %><%= t.dropdown_header %><% else %><%= t.dropdown_header_geo %><% end %></td>
            <td><%= t.background_color %></td>
            <td><%= t.text_color %></td>
            <th><%= link_to 'Edit', admin_path(edit_service: t.id) %></th>
            <td><%= link_to 'Delete', admin_path(delete_service: t.id), :"data-turbolinks" => false %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>

<script>
  $(document).ready(function(){
    ClassicEditor.create( document.querySelector('#ck_service_description' )).catch( error => {
      console.error( error );
    });
    ClassicEditor.create( document.querySelector('#ck_service_description_geo' )).catch( error => {
      console.error( error );
    });
    ClassicEditor.create( document.querySelector('#ck_service_field_1' )).catch( error => {
      console.error( error );
    });
    ClassicEditor.create( document.querySelector('#ck_service_field_1_geo' )).catch( error => {
      console.error( error );
    });
    ClassicEditor.create( document.querySelector('#ck_service_field_2' )).catch( error => {
      console.error( error );
    });
    ClassicEditor.create( document.querySelector('#ck_service_field_2_geo' )).catch( error => {
      console.error( error );
    });
  });
</script>
