<div class='container'>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="active-tab" data-toggle="tab" href="#active" role="tab" aria-controls="active" aria-selected="true">Active</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="inactive-tab" data-toggle="tab" href="#inactive" role="tab" aria-controls="inactive" aria-selected="false">Inactive</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="groups-tab" data-toggle="tab" href="#groups" role="tab" aria-controls="inactive" aria-selected="false">Groups</a>
        </li>
    </ul>
    
    <div class="tab-content">
        <div class="tab-pane active" id="active" role="tabpanel" aria-labelledby="active-tab">
            <table class='table'>
                <thead>
                    <th>#</th>
                    <th>Email</th>
                    <th>Group</th>
                    <th>Show</th>
                    <th>Edit</th>
                    <th>Nicehash</th>
                    <th>Activation</th>
                    <th>Disable 2FA</th>
                </thead>
                <tbody>
                    <% @active_users.each do |t| %>
                        <tr>
                            <td>
                                <%= t.id %>
                            </td>
                            <td>
                                <%= t.email %>
                            </td>
                            <td>
                                <% grp = Group.find_by(id:t.group_id) %>
                                <% if grp.present? %>
                                    <%= grp.name %>
                                <% end %>
                            </td>
                            <td>
                                <%= link_to 'Show', showuser_path(show_user: t.id) %>
                            </td>
                            <td>
                                <%= link_to 'Edit', admin_path(edit_user: t.id) %>
                            </td>
                            <td>
                                <% if t.nicehash == true %>
                                    <% nicehash = 'Deactivate' %>
                                <% else %>
                                    <% nicehash = 'Activate' %>
                                <% end %>
                                <%= link_to nicehash, admin_path(toggle_nicehash: t.id) %>
                            </td>
                            <td>
                                <%= link_to 'Toggle', admin_path(toggle_user_activation: t.id), data: {confirm: 'Are you sure?'} %>
                            </td>
                            <td>
                                <% if t.otp_required_for_login == true %>
                                    <%= link_to 'Disable', admin_path(disable2fa: t.id), data: {confirm: 'Are you sure?'} %>
                                <% end %>
                            </td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
        <div class="tab-pane" id="inactive" role="tabpanel" aria-labelledby="inactive-tab">
            <table class='table'>
                <thead>
                    <th>#</th>
                    <th>Email</th>
                    <th>Group</th>
                    <th>Show</th>
                    <th>Edit</th>
                    <th>Nicehash</th>
                    <th>Activation</th>
                    <th>Disable 2FA</th>
                    <th>Delete</th>
                </thead>
                <tbody>
                    <% @inactive_users.each do |t| %>
                        <tr>
                            <td>
                                <%= t.id %>
                            </td>
                            <td>
                                <%= t.email %>
                            </td>
                            <td>
                                <% grp = Group.find_by(id:t.group_id) %>
                                <% if grp.present? %>
                                    <%= grp.name %>
                                <% end %>
                            </td>
                            <td>
                                <%= link_to 'Show', admin_path(show_user: t.id) %>
                            </td>
                            <td>
                                <%= link_to 'Edit', admin_path(edit_user: t.id) %>
                            </td>
                            <td>
                                <% if t.nicehash == true %>
                                    <% nicehash = 'Deactivate' %>
                                <% else %>
                                    <% nicehash = 'Activate' %>
                                <% end %>
                                <%= link_to nicehash, admin_path(toggle_nicehash: t.id) %>
                            </td>
                            <td>
                                <%= link_to 'Toggle', admin_path(toggle_user_activation: t.id), data: {confirm: 'Are you sure?'} %>
                            </td>
                            <td>
                                <% if t.otp_required_for_login == true %>
                                    <%= link_to 'Disable', admin_path(disable2fa: t.id), data: {confirm: 'Are you sure?'} %>
                                <% end %>
                            </td>
                            <td><%= link_to 'Delete', admin_path(delete_user: t.id), data: {confirm: 'Are you sure?'} %></td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
        <div class="tab-pane" id="groups" role="tabpanel" aria-labelledby="inactive-tab">
            <div style='margin-top:10px;'>
                <%= link_to 'New Group', admin_path(new_group: 1) , class:"btn btn-dark " %>
            </div>
            <table class='table'>
                <thead>
                    <th>#</th>
                    <th>name</th>
                    <th>Payout History</th>
                    <th>Balances</th>
                    <th>Edit</th>
                    <th>Nicehash</th>
                    <th>Delete</th>
                </thead>
                <tbody>
                    <% @groups.each do |t| %>
                        <tr>
                            <td>
                                <%= t.id %>
                            </td>
                            <td>
                                <%= t.name %>
                            </td>
                            <td>
                                <%= link_to 'Show', admin_path(group_payout_history: t.id), target: "_blank" %>
                            </td>
                            <td>
                                <%= link_to 'Show Balances', admin_path(show_balances: t.id), target: "_blank" %>
                            </td>
                            <td>
                                <%= link_to 'Edit', admin_path(edit_group: t.id) %>
                            </td>
                            <td>
                                <% if t.nicehash == true %>
                                    <% nicehash = 'Deactivate' %>
                                <% else %>
                                    <% nicehash = 'Activate' %>
                                <% end %>
                                <%= link_to nicehash, admin_path(toggle_group_nicehash: t.id) %>
                            </td>
                            <td>
                                <%= link_to 'Delete', admin_path(delete_group: t.id), data: {confirm: 'Are you sure?'} %>
                            </td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>