<div id='btc-dashboard' style='padding-left:2.5%; padding-right:2.5%; margin-top:20px;'>
    <div class="row">
        <div class="col-sm-12 col-md-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title" style='width:100%; text-align:center; font-weight:bold; font-size:1.5em;'>Total Hashrate</h4>
                    <p class="card-text" style='width:100%; text-align:center; font-weight:bold; font-size:2em;'><%= (@btc[:hashrate].to_f/1000000).round(2) %> TH/s</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title" style='width:100%; text-align:center; font-weight:bold; font-size:1.5em;'>Confirmed Reward</h4>
                    <% confirmed = @btc[:confirmed_reward].to_f.round(6) %>
                    <p class="card-text" style='width:100%; text-align:center; font-weight:bold; font-size:2em;'><%= (confirmed-confirmed*current_user.percent_fee.to_i/100).round(6) %></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title" style='width:100%; text-align:center; font-weight:bold; font-size:1.5em;'>Unconfirmed Reward</h4>
                    <% unconfirmed = @btc[:unconfirmed_reward].to_f.round(6) %>
                    <p class="card-text" style='width:100%; text-align:center; font-weight:bold; font-size:2em;'><%= (unconfirmed-unconfirmed*current_user.percent_fee.to_i/100).round(6) %></p>
                </div>
            </div>
        </div>
    </div>
    <div class='row' style='margin-top:20px;'>
        <div class="col-sm-6 col-md-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title" style='width:100%; text-align:center; font-weight:bold; font-size:1.5em;'>Estimated Reward</h4>
                    <% estimated = @btc[:estimated_reward].to_f.round(6) %>
                    <p class="card-text" style='width:100%; text-align:center; font-weight:bold; font-size:2em;'><%= (estimated-estimated*current_user.percent_fee.to_i/100).round(6) %></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title" style='width:100%; text-align:center; font-weight:bold; font-size:1em;'>Estimated Electricity Cost</h4>
                    <p class="card-text" style='width:100%; text-align:center; font-weight:bold; font-size:2em;'>$ <%= current_user.fixed_fee %></p>
                </div>
            </div>
        </div>
        <% if @group.present? %>
            <div class="col-sm-6 col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title" style='width:100%; text-align:center; font-weight:bold; font-size:1em;'>Current Balance</h4>
                        <p class="card-text" style='width:100%; text-align:center; font-weight:bold; font-size:2em;'><%= current_user.user_balance.cur_btc %></p>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
    <table class="table table-bordered table-hover" style='margin-top:20px;'>
        <thead class="thead-dark">
            <tr>
            <th scope="col">#</th>
            <th scope="col">Worker Name</th>
            <th scope="col">Hash Rate</th>
            <th scope="col">Shares</th>
            </tr>
        </thead>
        <tbody>
            <% index = 0 %>
            <% @btc[:workers].select{|k,v| current_user.miners.where(algorithm: 'SHA256').map(&:worker_name).map {|s| s.gsub(' ', '')}.include? k.to_s}.each do |k,v| %>
                <tr>
                    <td><%= index %></td>
                    <% index += 1 %>
                    <td><%= k.to_s.split('.')[1] %></td>
                    <td><%= v[:hashrate].to_f/1000000 %> TH/s</td>
                    <td><%= v[:shares] %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>