<div id="particles-js" style='position:absolute; top:0; left:0; width:100%; z-index:-10;height:100%;'>
</div>
<div class='container-fluid'>
  <div class='row'>
    <div id='price-charts' class='col-lg-8 col-md-8 col-sm-12' style='padding:0; background-color:white;'>
      <div class='container-fluid' style='-webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);-moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2); box-shadow: 01px 1px 5px 0px rgba(0,0,0,0.2);'>
        <div class='row'>
          <div class='col-lg-6 col-md-6 col-sm-12' style='height:250px; padding:0; border:1px solid black;'>
            <div class='row' style='margin-bottom:0;'>
              <div class='col-lg-6 col-md-6 col-sm-12' style='font-weight:bold;'>
                <%= image_tag 'btc.png', style: 'height:16px; width:16px; margin-left:5px;' %> BTC <%= t('price') %>:
              </div>
              <div class='col-lg-6 col-md-6 col-sm-12' style='text-align:right; font-weight:bold;'>
                $ <span id="btc_usd" style='margin-right:5px;'><%= @btc_last_100.last %></span>
              </div>
            </div>
            <div style='height:220px; margin-top:6px;'>
              <canvas id="btcChart"></canvas>
            </div>
          </div>
          <div class='col-lg-6 col-md-6 col-sm-12' style='height:250px; padding:5px; padding:0; border:1px solid black;'>
            <div class='row' style='margin-bottom:0;'>
              <div class='col-lg-6 col-md-6 col-sm-12' style='font-weight:bold;'>
                <%= image_tag 'eth.png', style: 'height:16px; width:16px; margin-left:5px;' %> ETH <%= t('price') %>:
              </div>
              <div class='col-lg-6 col-md-6 col-sm-12' style='text-align:right; font-weight:bold;'>
                $ <span id="eth_usd" style='margin-right:5px;'><%= @eth_last_100.last %></span>
              </div>
            </div>
            <div style='height:220px; margin-top:6px;'>
              <canvas id="ethChart"></canvas>
            </div>
          </div>
          <div class='col-lg-6 col-md-6 col-sm-12' style='height:250px; padding:5px; padding:0; border:1px solid black;'>
            <div class='row' style='margin-bottom:0;'>
              <div class='col-lg-6 col-md-6 col-sm-12' style='font-weight:bold;'>
                <%= image_tag 'xrp.png', style: 'height:16px; width:16px; margin-left:5px;' %> XRP <%= t('price') %>:
              </div>
              <div class='col-lg-6 col-md-6 col-sm-12' style='text-align:right; font-weight:bold;'>
                $ <span id="xrp_usd" style='margin-right:5px;'><%= @xrp_last_100.last %></span>
              </div>
            </div>
            <div style='height:220px; margin-top:6px;'>
              <canvas id="xrpChart"></canvas>
            </div>
          </div>
          <div class='col-lg-6 col-md-6 col-sm-12' style='height:250px; padding:5px; padding:0; border:1px solid black;'>
            <div class='row' style='margin-bottom:0;'>
              <div class='col-lg-6 col-md-6 col-sm-12' style='font-weight:bold;'>
                <%= image_tag 'ltc.png', style: 'height:16px; width:16px; margin-left:5px;' %> LTC <%= t('price') %>:
              </div>
              <div class='col-lg-6 col-md-6 col-sm-12' style='text-align:right; font-weight:bold;'>
                $ <span id="ltc_usd" style='margin-right:5px;'><%= @ltc_last_100.last %></span>
              </div>
            </div>
            <div style='height:220px; margin-top:6px;'>
              <canvas id="ltcChart"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='col-lg-4 col-md-4 col-sm-12' style='padding:0;'>
        <div style='width:100%; height:250px; -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);-moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2); box-shadow: 01px 1px 5px 0px rgba(0,0,0,0.2);'>
          <div class='menu-item-wrapper' style='position:absolute; top:0; left:0; z-index:1;'>
            <%= link_to about_us_path, class: 'nav-link', style:'color:white; color:inherit; height:100%; width:100%;' do %><span style='font-family:"headline_georgian";'><%= t('about_us') %></span><% end %>
          </div>
        </div>
        <div style='width:100%; height:250px; -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);-moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2); box-shadow: 01px 1px 5px 0px rgba(0,0,0,0.2);'>
          <a href="/services" style="text-decoration: none;">
            <div class='menu-item-wrapper'>
              <span style='font-family:"headline_georgian";'><%= t('services') %></span>
            </div>
          </div>
        </a>
    </div>
  </div>
  <div class='row'>
    <div class='col-lg-6 col-md-6 col-sm-12' style='padding:0;'>
      <%= link_to  products_path(asic_miners: 1), style: 'text-decoration: none;' do %>
        <div class='menu-item-wrapper' style='-webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2); -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2); box-shadow: 01px 1px 5px 0px rgba(0,0,0,0.2);'>
          <span style='font-family:"headline_georgian";'><%= t('products') %></span>
        </div>
      <% end %>
    </div>
    <div class='col-lg-6 col-md-6 col-sm-12' style='padding:0;'>
      <div class='menu-item-wrapper' style='-webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);-moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2); box-shadow: 01px 1px 5px 0px rgba(0,0,0,0.2);'>
        <%= link_to our_facility_path, class: 'nav-link', style:'color:white; color:inherit; height:100%; width:100%;' do %><span style='font-family:"headline_georgian";'><%= t('our_facility') %></span><% end %>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-lg-12 col-md-12 col-sm-12' style='padding:0;'>
      <div class='menu-item-wrapper' style='-webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);-moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2); box-shadow: 01px 1px 5px 0px rgba(0,0,0,0.2);'>
        <%= link_to contact_path, class: 'nav-link', style:'color:white; color:inherit; height:100%; width:100%;' do %><span style='font-family:"headline_georgian";'><%= t('contact') %></span><% end %>
      </div>
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script>
  Chart.defaults.global.legend.display = false;

  ctx_btc = document.getElementById('btcChart').getContext('2d');
  ctx_eth = document.getElementById('ethChart').getContext('2d');
  ctx_xrp = document.getElementById('xrpChart').getContext('2d');
  ctx_ltc = document.getElementById('ltcChart').getContext('2d');


  chart_labels_btc = [];
  for (i = 0; i <= 100; i++) {
    chart_labels_btc[i] = i;
  }
  chart_btc = new Chart(ctx_btc, {
      type: 'line',
      data: {
          labels: chart_labels_btc,
          datasets: [{
              label: "BTC Price",
              backgroundColor: 'black',
              data: <%= @btc_last_100 %>,
          }]
      },
      options: {
        maintainAspectRatio: false,
        scales: {
          xAxes: [{
            display: false
          }],
          yAxes: [{
            display: false
          }]
        },
        elements: {
          point:{
            radius: 0
          }
        }
      }
  });

  chart_labels_eth = [];
  for (i = 0; i <= 100; i++) {
    chart_labels_eth[i] = i;
  }
  chart_eth = new Chart(ctx_eth, {
      type: 'line',
      data: {
          labels: chart_labels_eth,
          datasets: [{
              label: "ETH Price",
              backgroundColor: 'black',
              data: <%= @eth_last_100 %>,
          }]
      },
      options: {
        maintainAspectRatio: false,
        scales: {
          xAxes: [{
            display: false
          }],
          yAxes: [{
            display: false
          }]
        },
        elements: {
          point:{
            radius: 0
          }
        }
      }
  });

  chart_labels_xrp = [];
  for (i = 0; i <= 100; i++) {
    chart_labels_xrp[i] = i;
  }
  chart_xrp = new Chart(ctx_xrp, {
      type: 'line',
      data: {
          labels: chart_labels_xrp,
          datasets: [{
              label: "XRP Price",
              backgroundColor: 'black',
              data: <%= @xrp_last_100 %>,
          }]
      },
      options: {
        maintainAspectRatio: false,
        scales: {
          xAxes: [{
            display: false
          }],
          yAxes: [{
            display: false
          }]
        },
        elements: {
          point:{
            radius: 0
          }
        }
      }
  });

  chart_labels_ltc = [];
  for (i = 0; i <= 100; i++) {
    chart_labels_ltc[i] = i;
  }
  chart_ltc = new Chart(ctx_ltc, {
      type: 'line',
      data: {
          labels: chart_labels_ltc,
          datasets: [{
              label: "LTC Price",
              backgroundColor: 'black',
              data: <%= @ltc_last_100 %>,
          }]
      },
      options: {
        maintainAspectRatio: false,
        scales: {
          xAxes: [{
            display: false
          }],
          yAxes: [{
            display: false
          }]
        },
        elements: {
          point:{
            radius: 0
          }
        }
      }
  });
</script>

<script>
    particlesJS("particles-js", {
        "particles": {
            "number": {
            "value": 80,
            "density": {
                "enable": true,
                "value_area": 500
            }
            },
            "color": {
            "value": "#000000"
            },
            "shape": {
            "type": "circle",
            "stroke": {
                "width": 0,
                "color": "#000000"
            },
            "polygon": {
                "nb_sides": 5
            },
            "image": {
                "src": "img/github.svg",
                "width": 100,
                "height": 100
            }
            },
            "opacity": {
            "value": 0.5,
            "random": false,
            "anim": {
                "enable": false,
                "speed": 1,
                "opacity_min": 0.1,
                "sync": false
            }
            },
            "size": {
            "value": 3,
            "random": true,
            "anim": {
                "enable": false,
                "speed": 40,
                "size_min": 0.1,
                "sync": false
            }
            },
            "line_linked": {
            "enable": true,
            "distance": 150,
            "color": "#000000",
            "opacity": 0.4,
            "width": 1
            },
            "move": {
            "enable": true,
            "speed": 6,
            "direction": "none",
            "random": false,
            "straight": false,
            "out_mode": "out",
            "bounce": false,
            "attract": {
                "enable": false,
                "rotateX": 600,
                "rotateY": 1200
            }
            }
        },
        "interactivity": {
            "detect_on": "canvas",
            "events": {
            "onhover": {
                "enable": false,
                "mode": "repulse"
            },
            "onclick": {
                "enable": true,
                "mode": "push"
            },
            "resize": true
            },
            "modes": {
            "grab": {
                "distance": 400,
                "line_linked": {
                "opacity": 1
                }
            },
            "bubble": {
                "distance": 400,
                "size": 40,
                "duration": 2,
                "opacity": 8,
                "speed": 3
            },
            "repulse": {
                "distance": 200,
                "duration": 0.4
            },
            "push": {
                "particles_nb": 4
            },
            "remove": {
                "particles_nb": 2
            }
            }
        },
        "retina_detect": true
    });
</script>
