<% if current_user.personal_information.present? %>
  <% if current_user.personal_information.status == true %>
    <div class="container" style="margin-top:50px; margin-bottom: 100px;">
      <div class="row" id="personal_info">
        <div class="col-md-6" style="font-size:18px; letter-spacing: 1px; border-right: 1px solid #babbbc;">
          <h4 style="margin-bottom: 20px; font-weight: bold;"><%= t('user_profile') %></h4>
          <table>
            <tbody>
              <tr style="margin-bottom: 10px;">
                <td><span><%= t('first_name') %>:</span></td>
                <td><span style="font-size: 18px; letter-spacing: 1px;"><%= PersonalInformation.find_by(user_id: current_user.id).first_name %></span></td>
              </tr>
              <tr style="margin-bottom: 10px;">
                <td><span><%= t('last_name') %>:</span></td>
                <td><span style="font-size: 18px; letter-spacing: 1px;"><%= PersonalInformation.find_by(user_id: current_user.id).last_name %></span></td>
              </tr>
              <tr style="margin-bottom: 10px;">
                <td><span><%= t('address') %>:</span></td>
                <td><span style="font-size: 18px; letter-spacing: 1px;"><%= PersonalInformation.find_by(user_id: current_user.id).address %></span></td>
              </tr>
              <tr style="margin-bottom: 10px;">
                <td><span><%= t('country') %>:</span></td>
                <td><span style="font-size: 18px; letter-spacing: 1px;"><%= PersonalInformation.find_by(user_id: current_user.id).country %></span></td>
              </tr>
              <tr style="margin-bottom: 10px;">
                <td><span><%= t('email') %>:</span></td>
                <td><span style="font-size: 18px; letter-spacing: 1px;"><%= current_user.email %></span></td>
              </tr>
              <tr style="margin-bottom: 10px;">
                <td><span><%= t('phone_number') %>:</span></td>
                <td><span style="font-size: 18px; letter-spacing: 1px;"><%= PersonalInformation.find_by(user_id: current_user.id).phone_number %></span></td>
              </tr>
              <tr style="margin-bottom: 10px;">
                <td>
                  <span>
                    <%= t('two_factor_authentication') %>:
                  </span>
                </td>
                <td>
                  <% if current_user.otp_required_for_login == true %><%= t('enabled') %><% else %><%= t('disabled') %><% end %>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class='col-md-6'>
          <% if user_signed_in? %>
            <div class="container" style="text-align: center;">
              <% if !current_user.otp_required_for_login %>
                <%= button_to "Enable 2FA", static_enable_otp_path, class: 'btn btn-primary', style: 'background: linear-gradient(#132935,#020d16); color: white; cursor: pointer; border-radius: 5px 5px 5px 5px; -moz-border-radius: 5px 5px 5px 5px; -webkit-border-radius: 5px 5px 5px 5px; border: 1px solid black; width: 180px; height: 50px;', :method => :post %>
              <% end %>

              <% if current_user.otp_required_for_login %>
                <button id="disable_2fa_button" type="button" class="btn btn-primary" onclick="$('#disable_2fa_div').toggle();" style="background: linear-gradient(#132935,#020d16); color: white; cursor: pointer; border-radius: 5px 5px 5px 5px; -moz-border-radius: 5px 5px 5px 5px; -webkit-border-radius: 5px 5px 5px 5px; border: 1px solid black; width: 180px; height: 50px; margin-bottom: 10px;">Disable 2FA</button>
                <div id="disable_2fa_div" class="" style="display: none;">
                  <%= form_with( url: static_disable_otp_path, local: true) do |f| %>
                    <div class="form-group">
                      <div class="row">
                        <div class="col-md-12 offset-md-12">
                          <%= f.label :authentication_key_or_backup_key %><br />
                          <%= f.text_field :disable_2fa, class: "form-control", required: true, placeholder: '2FA or Backup Key' %>
                        </div>
                      </div>
                    </div>
                    <div>
                      <%= f.submit('Submit', class:'btn btn-dark', :method => :post) %>
                    </div>
                  <% end %>
                </div>
                <br />
                <h4 style="margin-bottom: 20px;">Your QR Code:</h4>
                <%= raw RQRCode::render_qrcode(current_user.otp_provisioning_uri(current_user.email, issuer: "cryptografs"), :svg, :level => :l, :unit => 2) %>
                <br/><br/>
                2FA disabling Backup Codes:<br/><br/>
                <%= @codes.first %><br/>
                <%= @codes.second %><br/><br/>
                <b>If you have used your codes, please disable and re-enable 2FA to get new ones.</b>
              <% end %>
            </div>
          <% else %>
            <div class="container" style="margin-top: 100px; text-align: center;">
              <%= form_with( url: static_disable_otp_path, local: true) do |f| %>
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-4 offset-md-2">
                      <%= f.label :email %><br />
                      <%= f.email_field :email, class: "form-control", required: true, placeholder: 'Email' %>
                    </div>
                    <div class="col-md-4">
                      <%= f.label :authentication_key %><br />
                      <%= f.text_field :disable_2fa, class: "form-control", required: true, placeholder: '2FA or Backup Key' %>
                    </div>
                  </div>
                </div>
                <div>
                  <%= f.submit('Submit', class:'btn btn-dark', :method => :post) %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% else %>
  <div class="container" style="margin-top:20px; padding-left:350px; padding-right:350px">
    <h4 style="margin-bottom:10px"><%= t('please_fill_in_form') %></h4>
    <%= form_with(url: dashboard_path, local: true) do |f| %>
      <%= hidden_field_tag :personal_information, 1 %>
      <div class="form-group">
        <%= f.text_field :first_name, class: "form-control", placeholder: t('first_name'), required: true %>
      </div>
      <div class="form-group">
        <%= f.text_field :last_name, class: "form-control", placeholder: t('last_name'), required: true %>
      </div>
      <div class="form-group">
        <%= f.text_field :phone_number, class: "form-control", placeholder: t('phone_number'), required: true %>
      </div>
      <div class="form-group">
        <%= f.text_field :address, class: "form-control", placeholder: t('address'), required: true %>
      </div>
      <div class="form-group">
        <%= f.text_field :country, class: "form-control", placeholder: t('country'), required: true %>
      </div>
      <div class="form-group">
        <div style="margin-bottom:5px">
          <%= t('comment') %> (<%= t('optional') %>)
        </div>
        <%= f.text_area :comment, class: "form-control", placeholder: t('comment'), id: 'ck_comment' %>
      </div>
      <%= f.submit(t('submit'), class:'btn btn-dark') %>
    <% end %>
  </div>
<% end %>

<script>
  $(document).ready(function(){
    ClassicEditor.create( document.querySelector('#ck_comment')).catch( error => {
      console.error( error );
    });
  });
</script>
