<div style='margin-left:10px; margin-right:10px;'>
    <table class='table' style='width:200px;'>
        <thead>
            <th>Total Paid</th>
            <th></th>
        </thead>
        <tbody>
            <tr>
                <td>BTC</td>
                <td><%= current_user.user_balance.paid_btc %></td>
            </tr>
            <tr>
                <td>LTC</td>
                <td><%= current_user.user_balance.paid_ltc %></td>
            </tr>
        </tbody>
    </table>
   <table class='table'>
        <thead>
            <th>Date</th>
            <th>Total Reward BTC</th>
            <th>Total BTC Hash</th>
            <th>Client BTC Hash</th>
            <th>Client BTC Reward</th>
            <th>Total Reward LTC</th>
            <th>Total LTC Hash</th>
            <th>Client LTC Hash</th>
            <th>Client LTC Reward</th>
        </thead>
        <tbody>
            <% @payouts.each do |t| %>
                <tr>
                    <td><%= t[:date] %></td>
                    <td><%= t[:btc_total].to_f %></td>
                    <td><%= t[:total_btc_hash] %></td>
                    <td><%= t[:payout]["btc_hash"] %></td>
                    <td><%= t[:payout]["btc_payout"].to_f %></td>
                    <td><%= t[:ltc_total].to_f %></td>
                    <td><%= t[:total_ltc_hash] %></td>
                    <td><%= t[:payout]["ltc_hash"] %></td>
                    <td><%= t[:payout]["ltc_payout"].to_f %></td>
                </tr>
            <% end %>
        </tbody>
   </table> 
</div>