<div class="container">
  <div style="margin-top:30px; margin-bottom: 30px; letter-spacing:3px; font-size:24px; width:100%; text-align:center">GPU <%= t('miners') %></div>
  <div class="row" style="margin-bottom:80px">
    <% if @products_all.present? %>
      <% @products_all.where(category: 2).each do |t| %>
        <div class="col-md-3" style="text-align:center; padding-left:0px; padding-right:0px; height:400px">
          <div class="product" style="border: 1px solid hsla(0,0%,92%,.5); height:400px; padding-top: 26px; padding-bottom:26px; padding-left:21px; padding-right:21px">
            <%= link_to products_path(product_id: t.id), style:'text-decoration:none; color: #000;' do %>
              <div style="background-image:url('<%= image_url t.image(:medium) %>'); background-size:contain; background-repeat: no-repeat; background-position: center center; height: 150px; margin-bottom: 48px;"></div>
              <h1 style="margin-top:21px; font-size:14px; font-weight:bold"><% if I18n.locale == :en %><%= t.name %><% else %><%= t.name_geo %><% end %></h1>
              <h2 style="margin-top:20px; margin-bottom: 52px; font-size:12px;"><% if I18n.locale == :en %><%= t.short_description.html_safe %><% else %><%= t.short_description_geo.html_safe %><% end %></h2>
            <% end %>
            <p class="price" style="color:#529bd7; font-size:22px; font-weight:700; font-family:Arial"><%= t.price.to_i %> USD</p>
            <div class="row buttons" style="display: none;">
              <div class="col-md-12" style="position:absolute; bottom: 35px; left:0;">
                <%= link_to products_path(product_id: t.id) do %>
                  <div class='btn btn-primary'>Learn More</div>
                <% end %>
              </div>
            </div>
          </div>   
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<script>
  $(document).ready(function() {
    $('.product').mouseenter(function() {
      $(this).find('div.buttons').show();
      $(this).find('p.price').hide();
    });
    $('.product').mouseleave(function() {
      $(this).find('div.buttons').hide();
      $(this).find('p.price').show();
    });
  });
</script>
