<div class="modal fade" id="sendEnquiryModal" tabindex="-1" role="dialog" aria-labelledby="sendEnquiryModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="sendEnquiryModalLabel"><%= t('send_enquiry') %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_with( url: products_path, local: true) do |f| %>
        <%= f.hidden_field :send_enquiry, :value => 1 %>
        <%= f.hidden_field :product_name_final, id: :product_name_final %>
        <%= f.hidden_field :product_quantity_final, id: :product_quantity_final %>
        <%= f.hidden_field :product_price_final, id: :product_price_final %>
        <%= f.hidden_field :optional_product_name_final, id: :optional_product_name_final %>
        <%= f.hidden_field :optional_product_price_final, id: :optional_product_price_final %>
        <div class="modal-body">
          <table class="table">
            <thead>
              <tr>
                <th scope="col"><%= t('product') %></th>
                <th scope="col"><%= t('quantity') %></th>
                <th scope="col"><%= t('weight') %></th>
                <th scope="col"><%= t('price') %></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row" style="font-weight: normal;"><%= @this_product.name %></th>
                <td id="product_quantity_enquiry"></td>
                <td><%= @this_product.weight %> <%= t('kg') %></td>
                <td><%= @this_product.price.to_i %> USD</td>
              </tr>
              <tr>
                <td id="optional_parts_name"></td>
                <td id="optional_parts_quantity"></td>
                <td id="optional_parts_weight"></td>
                <td id="optional_parts_price"></td>
              </tr>
            </tbody>
          </table>
          <div class="" style="font-weight: bold; margin-bottom: 20px; text-align: center;">
            <%= t('total_price') %>: <span id="total_price"></span> USD
          </div>
          <div class="form-group">
            <%= f.label t('email') %><br />
            <%= f.email_field :email, class: "form-control", required: true %>
          </div>
          <div class="form-group">
            <%= f.label t('comment') %><br />
            <%= f.text_area :comment, class: "form-control" %>
          </div>
        </div>
        <div class="modal-footer">
          <%= f.submit(t('submit'), class:'btn btn-dark') %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="container" style="margin-top: 70px;">
  <div class="row">
    <div class="col-md-6" style="background-image:url('<% if @this_product.image.present? %><%= image_url @this_product.image(:medium) %><% end %>'); background-size:contain; background-repeat: no-repeat; background-position: center center; height: 300px;"></div>
    <div class="col-md-6">
      <div style='width:100%;'>
        <h4><% if I18n.locale == :en %><%= @this_product.name %><% else %><%= @this_product.name_geo %><% end %><i id='fb-share-icon' class="fa fa-facebook-official fa-lg" aria-hidden="true" style='cursor:pointer; float:right;'></i></h4>
      </div>
      <div style="color: #888; font-size: 14px;">
        <% if @this_product.short_description.present? && @this_product.short_description_geo.present? %>
          <% if I18n.locale == :en %><%= @this_product.short_description.html_safe %><% else %><%= @this_product.short_description_geo.html_safe %><% end %>
        <% end %>
      </div>
      <p class="price" style="color:#529bd7; font-size:30px; margin-top: 30px; margin-bottom: 30px;"><%= @this_product.price.to_i %> USD</p>
      <div>
        <div class="row" style="margin-bottom: 20px">
          <div class="col-md-4"><%= t('weight') %></div>
          <div class="col-md-4"><%= @this_product.weight %> <%= t('kg') %></div>
        </div>
        <div class="row"  style="margin-bottom: 20px">
          <div class="col-md-4"><%= t('quantity') %></div>
          <div class="col-md-4">
            <form id='myform' method='POST' action='#' style="line-height: normal;">
              <input type='button' value='-' class='qtyminus' field='quantity' style="width:25px; height:25px; cursor: pointer;" />
              <input id="product_quantity" type='text' name='quantity' value='1' class='qty' style=" width: 40px; height: 25px; text-align: center;" />
              <input type='button' value='+' class='qtyplus' field='quantity' style="width:25px; height:25px; cursor: pointer;" />
            </form>
          </div>
        </div>
        <div class="row" style="">
           <div class="col-md-4" style="margin:auto;"><%= t('optional_parts') %></div>
          <div class="col-md-8">
            <% if @this_product.related_product_id.present? %>
              <div id="related_product" style="border:1px solid #e7e7e7; cursor: pointer; padding-top: 10px; padding-bottom: 10px;">
                <%= image_tag Product.find_by(id: @this_product.related_product_id).image(:thumb), style: "height:50px;" %><%= Product.find_by(id: @this_product.related_product_id).name %> &nbsp&nbsp&nbsp<span style="color:#529bd7;"><%= Product.find_by(id: @this_product.related_product_id).price.to_i %> USD</span>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 20px;">
    <div class="col-md-6 offset-md-6">
      <button id="send_enquiry_button" type="button" class="btn btn-primary" data-toggle="modal" data-target="#sendEnquiryModal" style="background: linear-gradient(#8acbed,#529bd7); color: white; cursor: pointer; border-radius: 5px 5px 5px 5px; -moz-border-radius: 5px 5px 5px 5px; -webkit-border-radius: 5px 5px 5px 5px; border: 1px solid #8acbed; height: 50px;"><%= t('send_enquiry') %></button>
    </div>
  </div>
  <ul class="nav nav-tabs" id="myTab" role="tablist" style="margin-top: 100px;">
    <li class="nav-item">
      <a class="nav-link active" id="field_1-tab" data-toggle="tab" href="#field_1" role="tab" aria-controls="field_1" aria-selected="true"><%= t('notes') %></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="field_2-tab" data-toggle="tab" href="#field_2" role="tab" aria-controls="field_2" aria-selected="false"><%= t('payment') %></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="field_3-tab" data-toggle="tab" href="#field_3" role="tab" aria-controls="field_3" aria-selected="false"><%= t('warranty') %></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="field_4-tab" data-toggle="tab" href="#field_4" role="tab" aria-controls="field_4" aria-selected="false"><%= t('discount') %></a
    </li>
  </ul>
  <div class="tab-content" id="myTabContent" style="margin-top: 20px; margin-bottom: 100px;">
    <% if @this_product.description.present? && @this_product.description_geo.present? %>
      <div class="tab-pane fade show active" id="field_1" role="tabpanel" aria-labelledby="field_1-tab"><% if I18n.locale == :en %><%= @this_product.description.html_safe %><% else %><%= @this_product.description_geo.html_safe %><% end %></div>
    <% end %>
    <% if @this_product.specifications.present? && @this_product.specifications_geo.present? %>
      <div class="tab-pane fade" id="field_2" role="tabpanel" aria-labelledby="field_2-tab"><% if I18n.locale == :en %><%= @this_product.specifications.html_safe %><% else %><%= @this_product.specifications_geo.html_safe %><% end %></div>
    <% end %>
    <% if @this_product.field_3.present? && @this_product.field_3_geo.present? %>
      <div class="tab-pane fade" id="field_3" role="tabpanel" aria-labelledby="field_3-tab"><% if I18n.locale == :en %><%= @this_product.field_3.html_safe %><% else %><%= @this_product.field_3_geo.html_safe %><% end %></div>
    <% end %>
    <div class="tab-pane fade" id="field_4" role="tabpanel" aria-labelledby="field_4-tab"><% if I18n.locale == :en %><%= @this_product.field_4.html_safe %><% else %><%= @this_product.field_4_geo.html_safe %><% end %></div>
  </div>
</div>

<script>
  $(document).ready(function() {
    $('#fb-share-icon').on('click', function(){
      FB.ui({
        method: 'share',
        display: 'popup',
        href: '<%= request.original_url %>',
      }, function(response){});
    });
    $('#send_enquiry_button').on('click', function(){
      $('#product_quantity_enquiry').html($('#product_quantity').val());
      if ($('#related_product').hasClass("marked")) {
        <% if @this_product.related_product_id.present? %>
          $('#optional_parts_name').html('<%= Product.find_by(id: @this_product.related_product_id).name %>');
          $('#optional_parts_quantity').html('1');
          $('#optional_parts_weight').html('<%= Product.find_by(id: @this_product.related_product_id).weight %> kg.');
          $('#optional_parts_price').html('<%= Product.find_by(id: @this_product.related_product_id).price.to_i %> USD');
          $('#total_price').html($('#product_quantity').val() * <%= @this_product.price.to_i %> + <%= Product.find_by(id: @this_product.related_product_id).price.to_i %>);
          $('#optional_product_name_final').val('<%= Product.find_by(id: @this_product.related_product_id).name %>');
          $('#optional_product_price_final').val('<%= Product.find_by(id: @this_product.related_product_id).price.to_i %>');
        <% end %>
        $('#product_name_final').val('<%= @this_product.name %>');
        $('#product_quantity_final').val($('#product_quantity').val());
        $('#product_price_final').val($('#product_quantity').val() * <%= @this_product.price.to_i %>);
      } else {
        $('#optional_parts_name').html('');
        $('#optional_parts_quantity').html('');
        $('#optional_parts_weight').html('');
        $('#optional_parts_price').html('');
        $('#product_name_final').val('<%= @this_product.name %>');
        $('#product_quantity_final').val($('#product_quantity').val());
        $('#product_price_final').val($('#product_quantity').val() * <%= @this_product.price.to_i %>);
        $('#total_price').html($('#product_quantity').val() * <%= @this_product.price.to_i %>);
      };
    });
    $('#related_product').click(function(){
      if ($(this).hasClass("marked")) {
        $(this).css('border', '1px solid #e7e7e7');
        $(this).css('background', 'none');
        $(this).removeClass('marked');
      } else {
        $(this).css('border', '2px solid #529bd7');
        $(this).addClass('marked');
      }
    });
    $('.qtyplus').click(function(e){
      e.preventDefault();
      fieldName = $(this).attr('field');
      var currentVal = parseInt($('input[name='+fieldName+']').val());
      if (!isNaN(currentVal)) {
        $('input[name='+fieldName+']').val(currentVal + 1);
      } else {
        $('input[name='+fieldName+']').val(1);
      }
    });
    $(".qtyminus").click(function(e) {
      e.preventDefault();
      fieldName = $(this).attr('field');
      var currentVal = parseInt($('input[name='+fieldName+']').val());
      if (!isNaN(currentVal) && currentVal > 1) {
        $('input[name='+fieldName+']').val(currentVal - 1);
      } else {
        $('input[name='+fieldName+']').val(1);
      }
    });
  });
</script>
