<ul class="nav justify-content-center nav-tabs" style="background-color:black">
  <li class="nav-item">
    <%= link_to "ASIC" + ' ' + t('miners'), products_path(asic_miners: 1), class: 'nav-link', style: "color:white" %>
  </li>
  <li class="nav-item">
    <%= link_to "GPU" + ' ' + t('miners'), products_path(gpu_miners: 1), class: 'nav-link', style: "color:white" %>
  </li>
  <li class="nav-item">
    <%= link_to t('parts_and_accessories'), products_path(parts_and_accessories: 1), class: 'nav-link', style: "color:white" %>
  </li>
  <li class="nav-item">
    <%= link_to t('software'), products_path(software: 1), class: 'nav-link', style: "color:white" %>
  </li>
</ul>

<% if @asic_miners == 1 %>
  <%= render 'asic_miners' %>
<% elsif @gpu_miners.present? %>
  <%= render 'gpu_miners' %>
<% elsif @parts_and_accessories.present? %>
  <%= render 'parts_and_accessories' %>
<% elsif @software.present? %>
  <%= render 'software' %>
<% elsif @this_product.present? %>
  <%= render 'view_product' %>
<% end %>
