<% if @this_service.present? %>
  <%= render 'view_service' %>
<% else %>
  <div>
    <% if @services_all.present? %>
      <% @services_all.order(:number).each do |t| %>
        <% if t.number.odd? %>
          <div id='service-<%=t.id%>' style="background-color: <%= t.background_color %>; color: <%= t.text_color %>;">
            <div class="container" style="padding-top:50px; padding-bottom:50px;">
              <div class="row" style="margin-top: 50px; margin-bottom: 50px;">
                <div class="col-md-4 col-sm-12" style="vertical-align: middle; text-align: center; background-image:url('<%= image_url t.image(:medium) %>'); background-size:cover; background-repeat: no-repeat; background-position: center center; min-height: 180px;">
                </div>
                <div class="col-md-8 col-sm-12" style="text-align: right; padding-left: 20px;">
                  <div style="font-weight: bold; font-size: 28px; margin-bottom: 20px;"><%= link_to services_path(service_id: t.id), style:'color:inherit;text-decoration: none;' do %><% if I18n.locale == :en %><%= t.header %><% else %><%= t.header_geo %><% end %><% end %><i class="fa fa-facebook-official fa-lg" aria-hidden="true" style='cursor:pointer;float:right;'></i></div>
                  <div style=""><% if I18n.locale == :en %><%= t.description.html_safe %><% else %><%= t.description_geo.html_safe %><% end %></div>
                  <%= link_to services_path(service_id: t.id) do %>
                    <div class='btn btn-primary'>Learn More</div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% else %>
          <div id='service-<%=t.id%>' style="background-color: <%= t.background_color %>; color: <%= t.text_color %>;">
            <div class="container" style="padding-top:50px; padding-bottom:50px;">
              <div class="row" style="margin-top: 50px; margin-bottom: 50px;">
                <div class="col-md-8 col-sm-12" style="padding-right: 20px;">
                  <div style="font-weight: bold; font-size: 28px; margin-bottom: 20px;"><%= link_to services_path(service_id: t.id), style:'color:inherit;text-decoration: none;' do %><% if I18n.locale == :en %><%= t.header %><% else %><%= t.header_geo %><% end %><% end %></div>
                  <div style=""><% if I18n.locale == :en %><%= t.description.html_safe %><% else %><%= t.description_geo.html_safe %><% end %></div>
                  <%= link_to services_path(service_id: t.id) do %>
                    <div class='btn btn-primary'>Learn More</div>
                  <% end %>
                </div>
                <div class="col-md-4 col-sm-12" style="background-image:url('<%= image_url t.image(:medium) %>'); background-size:cover; background-repeat: no-repeat; background-position: center center; min-height: 180px;">
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>
