<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Service Enquiry</h1>
    <p>
      First Name: <%= @first_name_service %>
    </p>
    <p>
      Last Name: <%= @last_name_service %>
    </p>
    <p>
      Phone Number: <%= @phone_number_service %>
    </p>
    <p>
      Email: <%= @email_service %>
    </p>
    <p>
      Comment: <%= @comment_service %>
    </p>
    <p>
      Service: <%= @this_service_header %>
    </p>
    <p>
      Service Option Name: <%= @service_option_name %>
    </p>
    <p>
      Service Option Selected: <%= @service_option_selected %>
    </p>
  </body>
</html>
