<nav class="navbar navbar-expand-lg navbar-dark" style='background-color:black; color:white; font-family:"headline_georgian";'>
    <%= link_to root_path, class:"navbar-brand" do %> <span style='vertical-align:top; color:#fcc118; font-weight:bold;'><i class='material-icons' style='vertical-align:middle; margin-top:-3px; color:#fcc118;'>pie_chart</i> CRYPTOGRAFS</span><% end %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class='nav-item'>
                <% if user_signed_in? %>
                    <%= link_to t('dashboard'), dashboard_path, class:'nav-link', style:'color:white;' %>
                <% end %>
            </li>
            <li class="nav-item">
                <%= link_to t('about_us'), about_us_path, class: 'nav-link', style:'color:white' %>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style='color:white;'>
                    <%= t('services') %>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <% if Service.all.present? %>
                        <% Service.all.order(:number).each do |t| %>
                            <a class="dropdown-item" href="/services#service-<%=t.id%>"><% if I18n.locale == :en %><%= t.dropdown_header %><% else %><%= t.dropdown_header_geo %><% end %></a>
                        <% end %>
                    <% end %>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style='color:white;'>
                    <%= t('products') %>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <div class="dropdown-item"><%= link_to "ASIC" + ' ' + t('miners'), products_path(asic_miners: 1), class: 'nav-link', style: "color:black" %></div>
                <div class="dropdown-item"><%= link_to "GPU" + ' ' + t('miners'), products_path(gpu_miners: 1), class: 'nav-link', style: "color:black" %></div>
                <div class="dropdown-item"><%= link_to t('parts_and_accessories'), products_path(parts_and_accessories: 1), class: 'nav-link', style: "color:black" %></div>
                <div class="dropdown-item"><%= link_to t('software'), products_path(software: 1), class: 'nav-link', style: "color:black" %></div>

            </li>
            <li class="nav-item">
                <%= link_to t('our_facility'), our_facility_path, class: 'nav-link', style:'color:white' %>
            </li>
            <li class="nav-item">
                <%= link_to t('contact'), contact_path, class: 'nav-link', style:'color:white' %>
            </li>
        </ul>
        <% if user_signed_in? %>
            <ul class='navbar-nav flex-row ml-md-auto d-md-flex' style="margin-left: 10px !important;">
                <li class="nav-item dropdown">
                    <a class="nav-item nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style='color:white'>
                        <i class='material-icons'>settings</i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                        <%= link_to t('two_factor_authentication'), two_factor_authentication_path, class: 'dropdown-item', :method => :post %>
                        <div class="dropdown-divider"></div>
                        <% if current_user.group_id.present? %>
                            <% if GroupPayoutHistory.where(group_id: current_user.group_id).present? %>
                                <%= link_to t('payout_history'), user_history_path(group: current_user.group_id), class: 'dropdown-item' %>
                                <div class="dropdown-divider"></div>
                            <% end %>
                        <% end %>
                        <% if current_user.admin? %>
                            <%= link_to admin_path, class: 'dropdown-item' do %><%= t('admin_settings') %><% end %>
                            <div class="dropdown-divider"></div>
                        <% end %>
                        <%= link_to destroy_user_session_path, method: :delete, class: 'dropdown-item' do %><i class='material-icons' style='vertical-align:middle'>power_settings_new</i> <%= t('log_out') %> <% end %>
                    </div>
                </li>
            </ul>
        <% end %>
        <% unless user_signed_in? %>
            <div class="btn btn-outline-light" data-toggle="modal" data-target="#sign_in_modal" style='margin-left:auto; margin-right:auto; padding-top:10px; padding-bottom:10px; cursor:pointer; margin:0'>
              <%= t('sign_in') %>
            </div>
            <div class="modal fade bd-example-modal-sm" id="sign_in_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="color:black">
              <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" style="margin:0; width:100%; text-align:center"><%= t('sign_in') %></h5>
                  </div>
                  <%= form_for(:user, :url => session_path(:user), html: {style: 'text-align:center'}) do |f| %>
                    <div class="modal-body">
                      <div class='form-group' style='margin-left:auto; margin-right:auto;'>
                        <%= f.text_field :email, class: 'form-control', placeholder: t('email'), style: 'width:100%;' %>
                        <%= f.password_field :password, class: 'form-control', placeholder: t('password'), style: 'width:100%; margin-top:5px;' %><br />
                        <%= f.text_field :otp_attempt, class: 'form-control', placeholder: '2FA Key', style: 'width:100%;' %>
                      </div>
                      <%= link_to 'Disable 2FA With Backup Key', two_factor_authentication_path, style: 'color:inherit;' %><br/>
                      <%= link_to 'Forgot Password?', new_user_password_path, style: 'color:inherit;' %>
                      <div class='form-group' style='margin-left:auto; margin-right:auto; margin-bottom:10px; padding-top:10px'>
                          <%= f.submit t('sign_in'), class: 'btn btn-outline-light my-2 my-sm-0', style: 'cursor:pointer' %>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
            <div class="btn btn-outline-light" data-toggle="modal" data-target="#sign_up_modal" style='margin-left:auto; margin-right:auto; padding-top:10px; padding-bottom:10px; cursor:pointer; margin-right:0; margin-left:15px'>
              <%= t('sign_up') %>
            </div>
            <div class="modal fade bd-example-modal-sm" id="sign_up_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="color:black">
              <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" style="margin:0; width:100%; text-align:center"><%= t('sign_up') %></h5>
                  </div>
                  <div class="modal-body" style="text-align:center">
                    <%= form_for(:user, :url => registration_path(:user)) do |f| %>
                      <div class="form-group">
                        <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: t('email') %>
                      </div>

                      <div class="form-group">
                        <% if @minimum_password_length %>
                        <em>(<%= @minimum_password_length %> characters minimum)</em>
                        <% end %>
                        <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: t('password') %>
                      </div>

                      <div class="form-group">
                        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: t('password_confirmation') %>
                      </div>

                      <div class='form-group' style='margin-left:auto; margin-right:auto; margin-bottom:10px; padding-top:10px'>
                          <%= f.submit t('sign_up'), class: 'btn btn-outline-light my-2 my-sm-0', style: 'cursor:pointer' %>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
        <% end %>
        <ul class='navbar-nav flex-row ml-md-auto d-md-flex' style="margin-left: 0px !important;">
          <li class="nav-item dropdown">
            <a class="nav-item nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="display:table; background-color:black; border:none; box-shadow:none; color:white; cursor:pointer">
              <% if I18n.locale == :en %><i class="material-icons" style="display:table-cell; vertical-align:middle">language</i><span style="margin-left:5px; font-family: Arial;">EN</span><% elsif I18n.locale == :ge %><i class="material-icons" style="display:table-cell; vertical-align:middle">language</i><span style="margin-left:5px; font-family: Arial;">GE</span><% end %>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown" style="text-align:center">
              <%= link_to 'EN', locale_path(locale: 'en'), :"data-turbolinks" => false, style: 'color:black; font-size:20px', class: 'dropdown-item' %>
              <div class="dropdown-divider"></div>
              <%= link_to 'GE', locale_path(locale: 'ge'), :"data-turbolinks" => false, style: 'color:black; font-size:20px', class: 'dropdown-item' %>
            </div>
          </li>
        </ul>
    </div>
</nav>

<script>
  $(document).ready(function(){
    $('.dropdown-toggle').dropdown()
  });
</script>

<% if notice.present? %>
    <script>
        $(document).ready(function(){
            iziToast.show({
                message: '<%= notice %>',
                messageColor: '',
                messageSize: '',
                messageLineHeight: '',
                backgroundColor: '',
                theme: 'light', // dark
                color: 'blue', // blue, red, green, yellow
                icon: '',
                iconColor: '',
                position: 'topRight', // bottomRight, bottomLeft, topRight, topLeft, topCenter, bottomCenter, center
            });
        });
    </script>
<% elsif alert.present? %>
    <script>
        $(document).ready(function(){
            iziToast.show({
                message: '<%= alert %>',
                messageColor: '',
                messageSize: '',
                messageLineHeight: '',
                backgroundColor: '',
                theme: 'light', // dark
                color: 'red', // blue, red, green, yellow
                icon: '',
                iconColor: '',
                position: 'topRight', // bottomRight, bottomLeft, topRight, topLeft, topCenter, bottomCenter, center
            });
        });
    </script>
<% end %>
